.icon {
	&-tik-tok {
		mask: url("../images/dist/icons/icon-tik-tok.png");
		background: #000000;
		width: 40px;
		height: 42px;
		display: block;
		&:hover {
			background: #617e7e;
		}
		@include media-max(1440) {
			transform: scale(0.8)
		}
		@include media-max(575) {
			transform: scale(0.5);
		}
	}
	&-instagram {
		mask: url("../images/dist/icons/icon-instagram.png");
		background: #000000;
		width: 48px;
		height: 48px;
		display: block;
		background-repeat: no-repeat;
		transform: scale(.9);
		&:hover {
			background: #617e7e;
		}
		@include media-max(1440) {
			transform: scale(0.7)
		}
		@include media-max(575) {
			transform: scale(0.4);
		}
	}
	&-phone {
		mask: url("../images/dist/icons/icon-phone.png");
		background: #000000;
		width: 40px;
		height: 42px;
		display: block;
		&:hover {
			background: #617e7e;
		}
		@include media-max(1440) {
			transform: scale(0.8)
		}
		@include media-max(575) {
			transform: scale(0.5);
		}
	}
}