.notfound {
	background: linear-gradient(180deg, #AEE6E6 0%, #AEE6E6 0%, #FFDA77 100%);
	height: 100vh;
	&__container {
		& > span {
			color: #FFFFFF;
			font-size: 180px;
			font-weight: 700;
			@include media-max(767) {
				font-size: 130px;
			}
			@include media-max(575) {
				font-size: 96px;
			}
		}
	}
	&__text {
		color: #FFFFFF;
		font-size: 48px;
		font-weight: 600;
		text-align: center;
		@include media-max(767) {
			font-size: 30px;
		}
		@include media-max(575) {
			font-size: 20px;
		}
	}
	&__btn {
		margin-top: 40px;
		@include media-max(575) {
			margin-top: 20px;
		}
	}
}